*{
    margin: 0;
    padding: 0;
}

/*成行：display: table */
ul{
    display: table;
    width: 100%;
    background: white;
    height: 100px;
    margin-bottom: 10px;
}
/*成列：display: table-cell;*/
li{
    display: table-cell;
    width: 33.3%;
    text-align: center;
    vertical-align: middle;
}

.DS_header{
    background: rgb(40,130,200);
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
    width: 100%;
    position:fixed;
    left: 0;
    top: 0;
}

.DS_section{
    margin-bottom: -4px;
}

.DS_section img{
    width: 100%;
}

ul li span{
    display: block;
}

body{
    background: rgb(244,244,255);
    padding-top: 50px;
    padding-bottom: 80px;
}

footer{
    display: table;
    width: 100%;
    height: 80px;
    position:fixed;
    bottom: 0;
}

footer a{
    color: white;
    text-decoration: none;
    background: black;
    text-align: center;
    display: table-cell;
    width:20%;
    vertical-align: middle;
}
footer a span{
    display: block;
}